/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
/* Navbar */
header{
  background-color: #e9e9e9;
  height: 50px;
}

ul{
  margin-bottom: 0;
}

.navbar{
  height: 50px;
}
.navbar li,.navbar a,.navbar .btn_navbar{
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.navbar_logo{
  font-size: 15px;
}
.navbar_logo:hover{
  transition: all 0.3s ease 0s ;
  font-size: 15.5px;
}
.list-items{
  margin-bottom: 0;
}
.navbar_links{
  list-style: none;
}
.navbar_links li{
  display: inline-block;
  padding: 0 20px;
}
.navbar_links li a{
  transition: all 0.3s ease 0s;
}
.navbar_links li a:hover{
  color:rgba(0, 166, 189, 1);
}

.navbar-btn{
  list-style: none;
}
.navbar-btn li{
  display: inline-block;
  padding: 0 20px;
}
.btn-navbar{
  font-size: 13px;
  padding: 9px 25px;
  background-color: rgba(0, 166, 189, 1);
  border: none;
  border-radius: 50px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
}
.btn-navbar:hover{
  background-color: rgba(0, 136, 169, 0.7);
}

/* end Navbar */

.img_tienda{
  display: flex;
  width: 100%;
  height: 500px;
  
}

.img_top{
  margin-top: 10px;
  position:static;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  color: #0366d6;
}

.btn-primary {
  display: inline-block;
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.msg-inicial{
  position: relative;
  top: -350px;
  margin: 0 50px;
  transition: all 0.3s ease 0s
}
.msg-inicial h2{
  font-size: 40px;
  color:#fff;
  font-weight: bold;
}
.msg-inicial a{
  text-decoration: none;
  color: #fff;
}
.msg-inicial a:hover{
  font-size: 15.5px;
}
.login{
  width: 600px;

}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
